<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Csatlakozás – Legyen Ön is Milliomos</title>
  <script src="/millionare/script/joplayer.js"></script>
  <link rel="stylesheet" href="/millionare/style/joplayer.css">
</head>

<body>
  <audio id="audio-next" src="/millionare/audio/next.mp3"></audio>
  <h1>Csatlakozás egy meglévő játékhoz</h1>
  <div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
      ⬅️ Vissza a főmenübe
    </a>
  </div>
  <input type="text" id="gameIdInput" placeholder="Game ID (MIL-1234)" /><br>
  <input type="text" id="nameInput" placeholder="Neved (Petike)" /><br><br>
  <button onclick="joinGame()">🎮 Csatlakozás</button>
</body>
</html>