<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Főmenü – Legyen Ön is Milliomos</title>
  <link rel="stylesheet" href="/millionare/style/menu.css">
</head>
<body>

  <h1>🎉 Legyen Ön is HS Milliomos 🎉</h1>
  <div class="menu">
    <button onclick="location.href='mode_select.html'">🎮 Játék indítása</button>
  </div>
  <div class="menu">
    <button onclick="location.href='audience.html'"> Közönség</button>
  </div>
  <div class="menu">
    <button onclick="location.href='stream.html'"> Stream</button>
  </div>

  <div class="links">
    <a href="rules.html">📜 Szabályok</a>
    <a href="settings.html">⚙️ Beállítások</a>
    <a href="top10.html">🏆 Top 10</a>
  </div>

</body>
</html>
