<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Módválasztás – Legyen Ön is Milliomos</title>
  <link rel="stylesheet" href="/millionare/style/mose.css">
</head>
<body>
<div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
        ⬅️ Vissza a főmenübe
    </a>
</div>
  <h1>Válassz játékmódot</h1>

  <div class="menu">
    <button onclick="location.href='single_start.html'">🎮 Single Player</button>
    <button onclick="location.href='multi_select.html'">👥 Multiplayer</button>
  </div>

</body>
</html>
