<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Multiplayer mód – Legyen Ön is Milliomos</title>
  <link rel="stylesheet" href="/millionare/style/muse.css">
</head>
<body>
  <h1>Multiplayer mód</h1>
<div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
        ⬅️ Vissza a főmenübe
    </a>
</div>
  <div class="menu">
    <button onclick="location.href='start_host.html'">🧑‍💼 Új játék indítása (Host)</button>
    <button onclick="location.href='join_player.html'">🎮 Csatlakozás meglévő játékhoz (Player)</button>
  </div>

</body>
</html>
