<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beállítások – Legyen Ön is Milliomos</title>
  <link rel="stylesheet" href="/millionare/style/settings.css">
  <script src="/millionare/script/settings.js"></script>
</head>

<body>

  <h1>⚙️ Beállítások</h1>

  <div>
    <label>
      🎵 Zene bekapcsolása
      <input type="checkbox" id="musicToggle" onchange="toggleMusic()" />
    </label>
  </div>


</body>

</html>