<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Single Player Indítás – Legyen Ön is Milliomos</title>
  <script src="/millionare/script/singlestart.js"></script>
  <link rel="stylesheet" href="/millionare/style/singlestart.css">
</head>

<body>
  <div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
      ⬅️ Vissza a főmenübe
    </a>
  </div>
  <h1>Single Player mód</h1>

  <input type="text" id="playerName" placeholder="Írd be a neved" />
  <br><br>
  <button onclick="startSingle()">🎮 Indítás</button>

</body>

</html>