<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Host indítása – Legyen Ön is Milliomos</title>
  <script src="/millionare/script/starthost.js"></script>
  <link rel="stylesheet" href="/millionare/style/starthost.css">
</head>
<body>
<div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
        ⬅️ Vissza a főmenübe
    </a>
</div>
  <h1>Új játék indítása</h1>

  <button onclick="startHost()">▶️ Indítás</button>

  <div class="game-id" id="gameId"></div>


</body>
</html>
