<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Top 10 – Legyen Ön is Milliomos</title>
  <script src="/millionare/script/top10.js"></script>
  <link rel="stylesheet" href="/millionare/style/top10.css">
</head>

<body>
  <div style="padding: 10px;">
    <a href="/millionare/templates/menu.html" style="color: #0af; text-decoration: none; font-size: 18px;">
      ⬅️ Vissza a főmenübe
    </a>
  </div>
  <h1>🏆 Top 10 játékos</h1>

<div class="tables">
  <div>
    <h2>Multiplayer Top 10</h2>
    <table id="top10">
      <thead>
        <tr>
          <th>Helyezés</th>
          <th>Név</th>
          <th>Pontszám</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div>
    <h2>Singleplayer Top 10</h2>
    <table id="top10s">
      <thead>
        <tr>
          <th>Helyezés</th>
          <th>Név</th>
          <th>Pontszám</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

</body>

</html>